<div class="container pt-3">

<div class="d-flex justify-content-between">
  <div><h1 class="pt-2">All Cocktails</h1></div>
  <div><%= link_to "Mix a new cocktail", new_cocktail_path, class: "btn btn-primary mt-3" %></div>
</div>

<div class="row">
  <% @cocktails.each do |cocktail| %>

  <div class="col-sm-3 my-3">
    <div class="card card-image card-height" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>');">

      <div class="card-body">
        <h5 class="card-title"> <%= link_to cocktail.name, cocktail_path(cocktail), class: "over-arching-card-titel"%></h5>

      <ul class="doses-list-show">
        <% cocktail.doses.each do |dose| %>
        <li class="doses-item-index"><%= dose.ingredient.name.capitalize %> <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fas fa-trash-alt ml-2"></i>
        <% end %> </li>
        <% end %>
      </ul>

        <div class="edit-dose-button">
          <%= link_to "Edit Dose", new_cocktail_dose_path(cocktail), class: "btn btn-primary" %>
        </div>

      </div>
    </div>
  </div>
  <% end %>
</div>

</div>


